<head>
    <link href="{{ frappe.get_url() }}/assets/frappe/css/bootstrap.css" rel="stylesheet">
    {{ include_style('print.bundle.css') }}
</head>

<body style="font-family: verdana !important;">
    {% if doc|length > 0 %}

    <div style="font-size: 20px !important;" class="text-center">
        {% set tab_details = doc_tab_wise_field_list()%}
        
        <!----------------------- page 1 --------------------------->

        <table class="table table-bordered" style="table-layout: fixed;">
            <tr>
                <td class="text-center" colspan="2">
                    <h1><b>QUALITY INSPECTION REPORT</b></h1>
                </td>
            </tr>
            <tr>
                <td>
                    <h2><b>Date of Inspection: </b>{{doc.date_of_inspection}}</h2>
                </td>
                <td>
                    <h2><b>Vendor: </b>{{doc.vendor_name or ''}}</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h2><b>No. of POs being inspected: </b> {{doc.no_of_po}} </h2>
                </td>
                <td>
                    <h2><b>Company: </b> {{doc.company}}</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h2><b>Quality Inspector: </b> {{doc.user or ''}} </h2>
                </td>
                <td class="row">
                    <h2 class="col-xs-4" style="padding-left: 0px;"><b>Document No - </b></h2>
                    <h2 class="col-xs-8 text-left" style="padding-left: 0px;">
                        <b>Parsimony:</b> {{doc.name}} <br>
                        <b>T&A QI Doc No.:</b> {{doc.qi_document_no or ''}}
                    </h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>
                        <b> PO Reference:</b>
                    </h2>
                        <p style="font-size: 18px;">                   
                        {% set tas_po_list = [] %}
                        {% if doc.pallet_details | length > 0 %}
                            {% for item in doc.pallet_details %}
                                {% if item.tas_po not in tas_po_list %}
                                    {% set _ = tas_po_list.append(item.tas_po) %}
                                {% endif %}
                            {% endfor %}
                            {{ tas_po_list |join(', ') }}
                        {% endif %}
                        </p>

                    
                    <h2><b>Flooring Class: </b>{{doc.flooring_class}}</h2>
                </td>
                <td>
                    <h2><b>Relative humidity :</b> </h2> {{doc.relative_humidity or ''}}
                    <h2><b>Temperature :</b> </h2> {{doc.temperature or ''}}
                    <h2><b>Time Of Inspection :</b> </h2> {{doc.time_of_inspection or ''}}
                </td>
                
            </tr>
        </table>

        <!----------------------- Other Pages --------------------------->

        {% for tab in tab_details%}

            {% if tab.tab_name == "Moisture Content" and doc.flooring_class != "HARDWOOD FLOORING" %}
            {% else %}

                {% if tab.tab_name != "Pallet Information" %}
                    <div style="page-break-before:always">&nbsp;</div>
                {% endif %}

                {% set todo_ration_fieldname = tab.result_field_prefix + "todo_ratio" %}
                {% set pass_ration_fieldname = tab.result_field_prefix + "pass_ration" %}
                {% set undetermined_ratio_fieldname = tab.result_field_prefix + "undetermined_ratio" %}
                {% set not_applicable_ratio_fieldname = tab.result_field_prefix + "na_ratio" %}
                {% set equipement_fieldname = tab.result_field_prefix + "equipment" %}

                <table class="table table-bordered" style="table-layout: fixed;">
                    <tr style="font-size: 20px">
                        <td class="text-left" >
                            {% set total_attach = tab.result_field_prefix + "total_attachment" %}
                            {% set pending_attach = tab.result_field_prefix + "pending_attachment" %}

                            <b style="font-size: 22px">{{ tab.tab_name}}</b> <br>
                            <h2>
                                <b><a href="#{{tab.tas_po_field}}">Total Attachments : </a></b> {{doc[total_attach]}} <br>
                                <b>Attached : </b> {{doc[total_attach] - doc[pending_attach]}} <br>
                                <b>Pending Attachments : </b> {{doc[pending_attach]}}
                            </h2>
                            
                            <h2>
                                <b>Equipement In Use:</b>
                                {% if tab.tab_name == "Moisture Content" %}
                                    {{ doc[equipement_fieldname] }}
                                {% else%}
                                    {% for equip in doc[equipement_fieldname] %}
                                        {{equip.equipment}}{% if loop.index != doc[equipement_fieldname]|length %},{%endif%}
                                    {% endfor %}
                                {% endif %}
                            </h2>
                        </td>

                        <td style="padding-top: 10px !important;">
                            {% set fail_ration = 100 - (doc[todo_ration_fieldname] + doc[pass_ration_fieldname] +
                                doc[undetermined_ratio_fieldname] + doc[not_applicable_ratio_fieldname]) %}
                            {% if fail_ration < 0 %}
                                {% set fail_ration = 0 %}
                            {% endif %}

                                <b>ToDo :</b> {{doc[todo_ration_fieldname]}} % <br>
                                <b>Pass :</b> {{doc[pass_ration_fieldname]}} % <br>
                                <b>Undetermined :</b> {{doc[undetermined_ratio_fieldname]}} % <br>
                                <b>Not Applicable :</b> {{doc[not_applicable_ratio_fieldname]}} % <br>
                                <b>Fail :</b> {{ " %.2f " | format(fail_ration) }} %  <br>

                                {% if tab.tab_name == "Color Match & Embossing" %}
                                    <span><b>Color :</b> {{ doc.color_count }}  </span> <br>
                                {% endif %}
                        </td>
                    </tr>

                    {% if tab.tab_name != "Pallet Information" %}
                        {% for i in range(doc.no_of_po) %}
                    
                        {% set tas_po = tab.tas_po_field + (i+1)|string %}
                        {% set table_name = tab.table_fieldname + (i+1)|string %}

                        <tr style="background-color: #D1D8BE; font-size: 20px;">
                            <td colspan="2">
                               PO - {{doc[tas_po]}}
                            </td>
                        </tr>

                        {% for item in doc[table_name]%}
                        <tr>
                            <td colspan="2" style="padding-top: 15px !important;">
                                <p style="font-size: 18px;"> <b> {{ item.item_color }} </b></p>
                                <table class="table table-bordered">
                                    <thead>
                                        {% for l in tab.table_field_list%}
                                            {% if tab.tab_name == "Bevel, Over Wax & Edge Paint" %}
                                                {% if (doc.flooring_class == "HARDWOOD FLOORING" and l.fieldname[0] == "edge_paint_select") or (doc.flooring_class == "RC/SPC/WPC/LVGD" and l.fieldname[0] == "over_wax_select") %}
                                                {% else %}
                                                    <th colspan="{{ l.fieldname|length or 1 }}" class="text-center" width={{l.width}} style="vertical-align: middle;">{{l.label}}</th>
                                                {% endif %}

                                            {% elif tab.tab_name == "Open Box Inspection" %}
                                                {% if doc.flooring_class == "HARDWOOD FLOORING" and l.label == "Pad Away From the Locking System"%}
                                                {% else %}
                                                    <th colspan="{{ l.fieldname|length or 1 }}" class="text-center" width={{l.width}} style="vertical-align: middle;">{{l.label}}</th>
                                                {% endif %}

                                            {% elif tab.tab_name == "Width & Thickness" %}
                                                {% if doc.flooring_class == "HARDWOOD FLOORING" and l.label in ["Thickness without padding", "Thickness with Padding"]%}
                                                {% elif doc.flooring_class != "HARDWOOD FLOORING" and l.label == "Thickness"  %}
                                                {% else %}
                                                    <th colspan="{{ l.fieldname|length or 1 }}" class="text-center" width={{l.width}} style="vertical-align: middle;">{{l.label}}</th>
                                                {% endif %}

                                            {% else%}
                                                <th colspan="{{ l.fieldname|length or 1 }}" class="text-center" width={{l.width}} style="font-size: 20px; vertical-align: middle;">{{l.label}}</th>
                                            {% endif %}
                                        {% endfor %}
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {% for f in tab.table_field_list%}
                                                {% for field in f.fieldname %}
                                                    {% if tab.tab_name == "Bevel, Over Wax & Edge Paint" %}
                                                        {% if (doc.flooring_class == "HARDWOOD FLOORING" and field == "edge_paint_select") or (doc.flooring_class == "RC/SPC/WPC/LVGD" and field == "over_wax_select") %}
                                                        {% else %}
                                                            <td class="text-center">{{item[field] or ''}}</td>
                                                        {% endif %}

                                                    {% elif tab.tab_name == "Open Box Inspection" %}
                                                        {% if doc.flooring_class == "HARDWOOD FLOORING" and field == "pad_away_select"%}
                                                        {% else %}
                                                            <td class="text-center">{{item[field] or ''}}</td>
                                                        {% endif %}

                                                    {% elif tab.tab_name == "Width & Thickness" %}
                                                        {% if doc.flooring_class == "HARDWOOD FLOORING" and field in ["thickness_without_padding_1", "thickness_with_padding_1"]%}
                                                        {% elif doc.flooring_class != "HARDWOOD FLOORING" and field == "thickness"  %}
                                                        {% else %}
                                                            <td class="text-center">{{item[field] or ''}}</td>
                                                        {% endif %}

                                                    {% else %}
                                                        <td class="text-center">{{item[field] or ''}}</td>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}

                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    
                    {% else %}
                        <tr>
                            <td colspan="2">
                                {% for item in doc[tab.table_fieldname]%}
                                    <table class="table table-bordered">
                                        <thead>
                                            {% for l in tab.table_field_list%}
                                                <th colspan="{{ l.fieldname|length or 1 }}" class="text-center" width={{l.width}} style="font-size: 20px; vertical-align: middle;">{{l.label}}</th>
                                            {% endfor %}
                                        </thead>
                                        <tbody>
                                            <tr>
                                                {% for f in tab.table_field_list%}
                                                    {% for field in f.fieldname %}
                                                        {% if field in ["corner_height", "current_width", "button_select"] and item.pallet_type == "Hardwood" %}
                                                            <td class="text-center">N/A</td>
                                                        {% else %}
                                                            <td class="text-center">{{item[field] or ''}}</td>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </tr>
                                        </tbody>
                                    </table>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}

                </table>

            {% endif %}
        
        {% endfor %}

        <!------------- Attachements  ------------->

        <div style="page-break-before:always">&nbsp;</div>
            <div style="font-size:2em; padding-top: 50%">Attachments Section</div>
        <div style="page-break-before:always">&nbsp;</div>

        <div class="text-left">

        {% for tab in tab_details %}

            {% if tab.tab_name == "Moisture Content" and doc.flooring_class != "HARDWOOD FLOORING" %}
            {% else %}
                <div id="{{tab.tas_po_field}}" class="col-xs-12">
                <p style="font-size: 18px; text-align:center; background-color:#F5D2D2; padding: 5px 0px"><b>Tab : {{tab.tab_name}}</b></p>
                    {% if tab.tab_name != "Pallet Information" %}                 
                        {% for i in range(doc.no_of_po) %}
                            {% set tas_po = tab.tas_po_field + (i+1)|string %}
                            
                            <p style="font-size: 16px; text-align:center; padding-top: 20px" class="col-xs-12"><b> TAS PO : {{doc[tas_po]}}</b></p><br>

                            {% set table_name = tab.table_fieldname + (i+1)|string %}
                            {% for item in doc[table_name]%}
                                <div style="page-break-inside: avoid;">
                                    <p style="font-size: 14px; text-align:center;" class="col-xs-12">Item-Color : {{ item.item_color }}</p><br>
                                    {% for field in tab.attachment_fields %}
                                        {% if item[field.url] %}
                                            <div class="col-xs-4 text-center" style="padding: 5px;">
                                                <span style="font-size: 0.8em;">{{field.label}}</span><br> 
                                                <img src="{{ frappe.get_url() }}/{{item[field.url] or ''}}" alt="{{field.url}}" width="300px" class="img-responsive" style="height: 300px !important;">
                                                
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        {% for item in doc[tab.table_fieldname]%}
                            <div style="page-break-inside: avoid;">
                                <p style="font-size: 16px; text-align:center; padding-top: 20px !important;" class="col-xs-12"><b> TAS PO : {{item.tas_po}}</b></p>
                                {% for field in tab.attachment_fields %}
                                    {% if item[field.url] %}
                                        <div class="col-xs-4 text-center" style="padding: 5px;">
                                            <span style="font-size: 0.8em;">{{field.label}}</span> <br>
                                            <img src="{{ frappe.get_url() }}/{{item[field.url] or ''}}" alt="{{field.url}}" width="300px" class="img-responsive" style="height: 300px !important;">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endif %} 
                </div>
            {% endif %}

        {% endfor %}
        </div>
            
    </div>
    {% endif %}


</body>