<head>
    <link href="{{ frappe.get_url() }}/assets/frappe/css/bootstrap.css" rel="stylesheet">
    {{ include_style('print.bundle.css') }}
</head>

<body>
    {% if doc|length > 0 %}

    <div style="font-size: 20px !important;" class="text-center">
        <h1><b>Quality Inspection</b></h1>
        {% set tab_details = doc_tab_wise_field_list()%}
        
        <!----------------------- page 1 --------------------------->

        <table class="table table-bordered" style="table-layout: fixed;">
            <tr>
                <td class="text-center" colspan="2">
                    <h1><b>{{doc.name}}</b></h1>
                </td>
            </tr>
            <tr>
                <td>
                    <h2><b>Date of Inspection: </b>{{doc.date_of_inspection}}</h2>
                </td>
                <td>
                    <h2><b>Vendor: </b>{{doc.vendor}}</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h2><b>No Of PO: </b> {{doc.no_of_po}} </h2>
                </td>
                <td>
                    <h2><b>Company: </b> {{doc.company}}</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h2><b>QI User: </b> {{doc.user or ''}} </h2>
                </td>
                <td>
                    <h2><b>QI Document No: </b> {{doc.qi_document_no or ''}}</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h2 class="col-xs-6" style="padding-left: 0%;">
                        <b> PO Reference:</b>
                    </h2>
                    <table class="col-xs-6 table-bordered">
                        {% for item in doc.pallet_details %}
                            <tr>
                                <td style="padding: 2% !important;" class="text-center">{{ item.tas_po }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>
                    <h2><b>Flooring Class: </b>{{doc.flooring_class}}</h2>
                    <p>This determines participation of quality parameters</p>
                    
                    <h3><b>Relative humidity :</b> </h3> {{doc.relative_humidity or ''}}
                    <h3><b>Temperature :</b> </h3> {{doc.temperature or ''}}
                    <h3><b>Time Of Inspection :</b> </h3> {{doc.time_of_inspection or ''}}
                </td>
                
            </tr>
        </table>

        <!----------------------- Other Pages --------------------------->

        {% for tab in tab_details%}

        {% if tab.tab_name != "Pallet Information" %}
            <div style="page-break-before:always">&nbsp;</div>
        {% endif %}

        {% set todo_ration_fieldname = tab.result_field_prefix + "todo_ratio" %}
        {% set pass_ration_fieldname = tab.result_field_prefix + "pass_ration" %}
        {% set undetermined_ratio_fieldname = tab.result_field_prefix + "undetermined_ratio" %}
        {% set equipement_fieldname = tab.result_field_prefix + "equipment" %}

        <table class="table table-bordered" style="table-layout: fixed;">
            <tr>
                <td class="text-left" style="vertical-align: middle; font-size: 20px">
                    <b>{{ tab.tab_name}}</b>
                </td>
                <td>
                    <div class="row" style="font-size: 20px">
                        <div class="col-xs-7 text-right">
                            {% if tab.tab_name == "Color Match & Embossing" %}
                                <b>Color Match:</b>
                            {% else %}
                                <b>Result: </b>
                            {% endif %}

                        </div>
                        <div class="col-xs-5">
                            {% set fail_ration = 100 - (doc[todo_ration_fieldname] + doc[pass_ration_fieldname] +
                            doc[undetermined_ratio_fieldname]) %}
                            <span><b>ToDo :</b> {{doc[todo_ration_fieldname]}} % </span> <br>
                            <span><b>Pass :</b> {{doc[pass_ration_fieldname]}} % </span><br>
                            <span><b>Undetermined :</b> {{doc[undetermined_ratio_fieldname]}} % </span><br>
                            <span><b>Fail :</b> {{ " %.2f " | format(fail_ration) }} % </span> <br>
                            
                            {% if tab.tab_name == "Color Match & Embossing" %}
                                <span><b>Color :</b> {{ doc.color_count }} % </span> <br>
                            {% endif %}

                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <h2><a href="#{{tab.tas_po_field}}">Attachments</a></h2>
                    <!-- <h2><a href="#attachments">Attachments</a></h2> -->
                    <!-- <h2><a href="" name="attachments">Attachments</a></h2> -->
                </td>
                <td>
                    <h2>
                        <b>Equipement In Use:</b>
                        {% if tab.tab_name == "Moisture Content" %}
                            {{ doc[equipement_fieldname] }}
                        {% else%}
                            {% for equip in doc[equipement_fieldname] %}
                            {{equip.equipment}}{% if loop.index != doc[equipement_fieldname]|length %},{%endif%}
                            {% endfor %}
                        {% endif %}
                    </h2>
                </td>
            </tr>

            {% if tab.tab_name != "Pallet Information" %}
                {% for i in range(doc.no_of_po) %}
            
                {% set tas_po = tab.tas_po_field + (i+1)|string %}
                {% set table_name = tab.table_fieldname + (i+1)|string %}

                <tr style="background-color: #D1D8BE;">
                    <td colspan="2">
                        {{doc[tas_po]}}
                    </td>
                </tr>

                {% for item in doc[table_name]%}
                <tr>
                    <td colspan="2">
                        <p>{{ item.item_color }}</p>
                        <table class="table table-bordered">
                            <thead>
                                {% for l in tab.table_field_list%}
                                    {% if tab.tab_name == "Bevel, Over Wax & Edge Paint" %}
                                        {% if (doc.flooring_class == "HARDWOOD FLOORING" and l.fieldname[0] == "edge_paint_select") or (doc.flooring_class == "RC/SPC/WPC/LVGD" and l.fieldname[0] == "over_wax_select") %}
                                        {% else %}
                                            <th colspan="{{ l.fieldname|length or 1 }}" class="text-center" width={{l.width}}>{{l.label}}</th>
                                        {% endif %}

                                    {% else%}
                                        <th colspan="{{ l.fieldname|length or 1 }}" class="text-center" width={{l.width}}>{{l.label}}</th>
                                    {% endif %}
                                {% endfor %}
                            </thead>
                            <tbody>
                                <tr>
                                    {% for f in tab.table_field_list%}
                                        {% for field in f.fieldname %}
                                            {% if tab.tab_name == "Bevel, Over Wax & Edge Paint" %}
                                                {% if (doc.flooring_class == "HARDWOOD FLOORING" and field == "edge_paint_select") or (doc.flooring_class == "RC/SPC/WPC/LVGD" and field == "over_wax_select") %}
                                                {% else %}
                                                    <td class="text-center">{{item[field] or ''}}</td>
                                                {% endif %}
                                            {% else %}
                                                <td class="text-center">{{item[field] or ''}}</td>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}

                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                {% endfor %}
                {% endfor %}
            
            {% else %}
                <tr>
                    <td colspan="2">
                        {% for item in doc[tab.table_fieldname]%}
                            <table class="table table-bordered">
                                <thead>
                                    {% for l in tab.table_field_list%}
                                        <th colspan="{{ l.fieldname|length or 1 }}" class="text-center" width={{l.width}}>{{l.label}}</th>
                                    {% endfor %}
                                </thead>
                                <tbody>
                                    <tr>
                                        {% for f in tab.table_field_list%}
                                            {% for field in f.fieldname %}
                                                {% if field in ["corner_height", "current_width", "button_select"] and item.pallet_type == "Hardwood" %}
                                                    <td class="text-center">N/A</td>
                                                {% else %}
                                                    <td class="text-center">{{item[field] or ''}}</td>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

        </table>

        
        
        {% endfor %}

        <!------------- Attachements  ------------->

        <div style="page-break-before:always">&nbsp;</div>

        <div class="text-left">
        <h2>Attachements:</h2>

        {% for tab in tab_details %}
        <div id="{{tab.tas_po_field}}" class="col-xs-12">
        <h3>{{tab.tab_name}}</h3><br>
            {% if tab.tab_name != "Pallet Information" %}
                {% for i in range(doc.no_of_po) %}
                    {% set table_name = tab.table_fieldname + (i+1)|string %}
                    {% for item in doc[table_name]%}
                        {% for field in tab.attachment_fields %}
                            {% if item[field.url] %}
                                <div class="col-xs-4 text-center" style="padding: 5px;">
                                    <img src="{{ frappe.get_url() }}/{{item[field.url] or ''}}" alt="{{field.url}}" width="300px" height="auto" class="img-responsive">
                                    <br> <span style="font-size: 0.8em;">{{field.label}}</span>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% else %}
                {% for item in doc[tab.table_fieldname]%}
                    {% for field in tab.attachment_fields %}
                        {% if item[field.url] %}
                            <div class="col-xs-4 text-center" style="padding: 5px;">
                                <img src="{{ frappe.get_url() }}/{{item[field.url] or ''}}" alt="{{field.url}}" width="300px" height="auto" class="img-responsive">
                                <br> <span style="font-size: 0.8em;">{{field.label}}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %} 
        </div> 
        {% endfor %}
        </div>
            
    </div>
    {% endif %}


</body>