<div style="font-size: 15px;">
    <div style="border: 2px solid black; margin: 2% 10%; padding: 2% 0% 2% 2%; border-radius: 2%;">
        <div class="row">
            <div class="col-xs-4 text-right"><b>Attachments:</b></div>
            <div class="col-xs-8"><span>Total : {{total_attach}}</span>, <span> Attached : {{total_attach - pending}} </span>, <span>Pending : {{pending}} </span></div>
        </div>
        <hr style="width: 90%; margin-top: 5px; margin-bottom: 5px">
        <div class="row">
            <div class="col-xs-4 text-right"><b> Ratio: </b></div>
            <div class="col-xs-8"> 
                <span> ToDo : {{todo_ration}} % </span> <br>  
                <span> Pass : {{pass_ration}} % </span><br>
                <span> Undetermined : {{undetermined_ratio}} % </span><br>
                {% set fail_ration = 100 - (todo_ration + pass_ration + undetermined_ratio + not_applicable_ratio) %}
                {% if fail_ration < 0 %}
                    {% set fail_ration = 0 %}
                {% endif %}
                <span>Fail : {{ " %.2f " | format(fail_ration) }} % </span> <br>
                <span>Not Applicable : {{not_applicable_ratio}} % </span>
            </div>
        </div>
        {% if color %}
        <hr style="width: 90%; margin-top: 5px; margin-bottom: 5px">
        <div class="row">
            <div class="col-xs-4 text-right"><b> Color: </b></div>
            <div class="col-xs-8">
                <span> {{color}} </span>
               </div>
        </div>
        {% endif %}
    </div>
   
</div>
